@page "/services/create"
@using Microsoft.EntityFrameworkCore
@using CS212FinalProject.Models
@inject IDbContextFactory<CS212FinalProject.Data.CS212FinalProjectContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Service</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Service" OnValidSubmit="AddService" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Service.Name" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Service.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label> 
                <InputText id="description" @bind-Value="Service.Description" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Service.Description" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="price" class="form-label">Price:</label> 
                <InputNumber id="price" @bind-Value="Service.Price" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Service.Price" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="isavailable" class="form-label">IsAvailable:</label> 
                <InputCheckbox id="isavailable" @bind-Value="Service.IsAvailable" class="form-check-input" aria-required="true"/> 
                <ValidationMessage For="() => Service.IsAvailable" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/services">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Service Service { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddService()
    {
        using var context = DbFactory.CreateDbContext();
        context.Service.Add(Service);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/services");
    }
}
