@page "/system/home-dash"

@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Http

<PageTitle>Home Dashboard</PageTitle>

<h2> Welcome $"{User.Identity.FirstName}" </h2>

@code {

}
