@page "/app/service-page"

@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Http

<PageTitle>ServicePage</PageTitle>

<h3>Available Services</h3>
<hr />

@code {

}
