@page "/access-denied"

<PageTitle>Access Denied</PageTitle>

<div class="container mt-5">
  <h3>Access denied</h3>
  <p>You do not have permission to view this resource.</p>
  <a class="hp-link-white" href="/">Return to home</a>
</div>