@page "/"

<PageTitle>Home</PageTitle>

<div class="hero aboreto-regular">
    <div class="hero-content">
        <h1>Fine Haven Spa and Wellnes</h1>
        <p>Welcome to your new app.</p>
        <a class="hero-link" href="/about">Learn more</a>
    </div>
</div>