@page "/app/sign-out"
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<h3>Signing out...</h3>
<p>If you are not redirected, <a href="@("/")">click here</a>.</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        await AuthService.SignOutAsync();
        NavigationManager.NavigateTo("/", true);
    }
}